<div class="row">
  <div class="col-md-3">
    <div class="card" style="height: 751px">
      <div class="card-header">
        <b>Events</b>
      </div>
      <table class="table table-sm events">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <b>Graphs</b>
      </div>
      <div class="card-body">
        <div class="chart" style="height: 300px; min-width: 310px"></div>
        <div class="stock-chart" style="height: 400px; min-width: 310px"></div>
      </div>
    </div>
  </div>
</div>


